name: example
description: "A new Flutter project."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.5.0

dependencies:
  flutter:
    sdk: flutter
  deepar_flutter_plus:
    path: ../

  cupertino_icons: ^1.0.8
  path_provider: ^2.1.5
  http: ^1.3.0
  flutter_cache_manager: ^3.4.1
  permission_handler: ^11.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
